.poem-header {
	margin: 40px auto 0 auto;
	font-weight: bold;
}

#poem-4 .poem-header {
	font-family: Courier, serif;
	font-size: 175%;
	font-style: italic;
}

#poem-4 .poem-content {
	margin: 15px auto 0 auto;
	font-size: 135%;
}
