.poem-header {
	width: 500px;
	margin: 30px auto 0 auto;
	font-size: 120%;
	font-weight: bold;
}

#poem-5 .poem-sub-header {
	width: 500px;
	margin: 5px auto 0 auto;
	font-family: Courier, serif;
	font-style: italic;
	font-size: 125%;
}

#poem-5 .poem-content {
	width: 500px;
	margin: 15px auto 0 auto;
	font-family: Courier, serif;
	font-size: 120%;
}
